html,
body {
  background-color: hsl(60, 100%, 60%);  /*hsl stands for hue, saturation and lightness. This color is yellow */
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.jumboBackgroundImage {
  background-image: url('./cbs-detroit-chicken-and-waffles-pic1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotronText {
  background-color: rgba(0, 0, 0, 0.4); /* The opacity is 0.4 */
  color: white;
  text-align: center;
}

#works-cited {
  text-align: left;
  background-color: rgb(89, 89, 89);
  color: white;
  border-radius: 25px;
  font-family: "Times New Roman", Times, serif;
}
.cited-source {
  text-align: left;
  text-indent: 40px;
}

#works-cited-title {
  text-align: center;
}

/*Below I'm editing the bootstrap class that's used for the bottom nav bar */
.nav {
  background-color: rgb(89, 89, 89);
}

#bottom-nav {

}
